// Side Nav
.side-nav-pa{
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba($color-black, .7);
    z-index: 999999;
    opacity: 0;
    visibility: hidden;
    transition: .5s;

    &.open{
        opacity: 1;
        visibility: visible;

        .side-nav{
            #{$start-dir}: 0%;
        }
    }

    .side-nav{
        width: 260px;
        height: 100%;
        position: fixed;
        top: 0;
        #{$start-dir}: -100%;
        background-color: $color-white;
        z-index: 9999;
        box-shadow: 0 0 5px rgba(0,0,0, .3);
        transition: .5s;
    
        .drop-btn{
            width: 2.5rem;
            height: 2.5rem;
            background-color: transparent;
            border: 0;
            position: absolute;
            #{$end-dir}: 4rem;
            top: 50px;
            transform: translate(-50%, -50%);
            padding: 0;
            display: none;
    
            span{
                position: absolute;
                top: 50%;
                #{$start-dir}: 50%;
                transform: translate(50%, -50%);
                display: block;
                width: 100%;
                height: 2px;
                background-color: rgba($color-black, .8);
                transition: .5s;
    
                &:nth-child(1){
                    top: 50%;
                    #{$start-dir}: 0%;
                    transform: rotate(-45deg);
                }
    
                &:nth-child(2){
                    opacity: 0;
                }
    
                &:nth-child(3){
                    top: 50%;
                    #{$start-dir}: 0%;
                    transform: rotate(45deg);
                }
            }
    
            @include Sm{
                display: block !important;
            }
    
            &:hover{
    
                & span{
    
                    &:nth-child(2){
                        opacity: 0;
                    }
                }
            }
        }
    
        & ul{
            padding: 10rem 3rem 5rem;
            height: 100%;
            overflow-y: scroll;
    
            & li{
                margin-bottom: 3rem;
        
                &.logo{
                    
                    & img{
                        width: 18rem;
                    }
                }
    
                & a{
                    font-size: 15px;
                    color: $color-black;
                    line-height: 1.846;
                    transition: .5s;
    
                    &:hover{
                        color: $prim-color;
                        text-decoration: none;
                    }
                }
            }
    
            & form{
    
                & input{
                    background-color: transparent;
                    border: none;
                    padding: .5rem;
                    border-radius: 0;
                    border-bottom: 1px solid #aaa8a8;
                    color: #aaa8a8;
                    width: 20rem;
                    font-size: 14px;
    
                    &:focus{
                        outline: none;
                        box-shadow: none;
                    }
                }
    
                & button{
                    margin-#{$start-dir}: -3.5rem;
                    background-color: transparent;
    
                    & svg{
                        width: 1.5rem;
                        height: 1.5rem;
    
                        & path{
                            fill: $color-black;
                        }
                    }
                }
            }
        }
    }
}


// End Of Side Nab

// Start Navbar
.nav.fixed-top{
    transition: .5s;

    &.scrolled{
        box-shadow: 0 0 .5rem rgba($color-black, .2);
    }

    &.hide{
        top: -100%;
    }

    @include Sm{
        background-color: #FFF;
    }

    .container{
        position: relative;

        .drop-btn{
            width: 2.5rem;
            height: 2.5rem;
            background-color: transparent;
            border: 0;
            position: absolute;
            #{$end-dir}: 4rem;
            top: 50%;
            transform: translate(-50%, -50%);
            padding: 0;
            display: none;

            span{
                position: absolute;
                top: 50%;
                #{$start-dir}: 50%;
                transform: translate($transform-dir * -50%, -50%);
                display: block;
                width: 100%;
                height: 2px;
                background-color: rgba($color-black, .8);
                transition: .5s;
    
                &:nth-child(1){
                    top: 24%;

                    @include Xs{
                        top: 26%;
                    }
                }
                
                &:nth-child(3){
                    top: 75%;

                    @include Xs{
                        top: 76%;
                    }
                }
            }
    
            @include Sm{
                display: block !important;
            }
    
            &:hover{
    
                & span{
    
                    &:nth-child(2){
                        opacity: .3;
                    }
                }
            }
    
            &.change{
                opacity: 0;
            }
        }

        .right{
            padding: 10px 10px;
            background-color: #FFF;
            position: relative;
            z-index: 99999;

            &:before{
                content: "";
                position: absolute;
                top: 0;
                #{$end-dir}: 10%;
                width: 100rem;
                height: 100%;
                background-color: #FFF;
                z-index: -1;
            }

            img{

                @include Xs{
                    height: 65px;
                }
            }
        }

        .left{
            display: flex;
            flex-direction: column;
            flex-grow: 1;

            @include Sm{
                display: none;
            }

            .top{
                display: flex;
                justify-content: flex-end;
                padding: 10px 0;
                background-color: #FFF;
                position: relative;

                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    #{$end-dir}: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: #FFF;
                }

                li{
                    &:not(:first-child){

                        @include Md{
                            margin-#{$start-dir}: 10px;
                        }

                        @include Lg{
                            margin-#{$start-dir}: 25px;
                        }
                    }
                }

                li a{
                    font-size: 13px;
                    color: rgb(76, 75, 77);
                    line-height: 1.846;
                    display: flex;
                    align-items: center;

                    &:hover{
                        text-decoration: none;
                    }

                    @include Md{
                        font-size: 10px;
                    }

                    @include Lg{
                        font-size: 13px;
                    }

                    & svg{
                        margin-#{$end-dir}:7px;
                        width: 15px;
                        height: 15px;

                        @include respond(64em){
                            margin: 0 1.5rem 0 .7rem !important;
                        }
                        
                        & path{
                            fill: $prim-color;
                        }
                    }
                }

                button{
                    margin-#{$start-dir}: 2.5rem;
                    border: none;
                    border-radius: 2px;
                    background-color: $sec-color;
                    width: 90px;
                    height: 30px;
                    justify-content: center;
                    color: $color-white;
                    transition: .5s;
                    margin-#{$start-dir}: 2.5rem;
                    line-height: 1;

                    &:hover{
                        background-color: $prim-color;
                    }
                }
            }

            .bottom{
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding-top: 10px;
                padding-#{$start-dir}: 40px;
                padding-bottom: 10px;
                padding-#{$end-dir}: 0;
                background-color: rgba(0,0,0, .6);
                position: relative;

                &:before{
                    content: "";
                    position: absolute;
                    top: 0;
                    #{$start-dir}: -27px;
                    width: 35px;
                    height: 100%;
                    background-color: #FFF;
                    transform: skewX(-15deg * $transform-dir);
                }

                &:after{
                    content: "";
                    position: absolute;
                    top: 0;
                    #{$end-dir}: -100%;
                    width: 100%;
                    height: 100%;
                    background-color: rgba(0,0,0, .6);
                }

                .navnav{
                    display: flex;

                    .navLink{
                        font-size: 13px;
                        color: $color-white;
                        line-height: 1.846;
                        transition: .5s;
                        margin-#{$end-dir}: 2rem;

                        @include Md{
                            font-size: 10px;
                        }

                        @include Lg{
                            font-size: 13px;
                        }

                        &:hover{
                            text-decoration: none;
                            color: $prim-color;
                        }
                    }
                }

                form{
    
                    & input{
                        background-color: transparent;
                        border: none;
                        padding: .5rem;
                        border-radius: 0;
                        border-bottom: 1px solid #aaa8a8;
                        color: #aaa8a8;
                        width: 260px;
                        font-size: 14px;

                        &:focus{
                            outline: none;
                            box-shadow: none;
                        }
                    }

                    & button{
                        margin-#{$start-dir}: -3.5rem;
                        background-color: transparent;

                        & svg{
                            width: 1.5rem;
                            height: 1.5rem;

                            & path{
                                fill: $color-white;
                            }
                        }
                    }
                }
            }
        }
    }
}

// // Start Header
header{
    height: 100vh;
    overflow: hidden;

    @include respond(48em){
        height: auto;
    }

    & .content{

        & .owl-carousel{
            position: relative;

            & .owl-dots{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: -11rem !important;
                position: relative;

                @include respond(90em){
                    margin-top: -17rem;
                }

                @include respond(64em){
                    margin-top: -9rem;
                }
    
                & button{
    
                    &.active, &:hover{
    
                        & span{
                            background-color: $prim-color;
                        }
                    }
                }
            }

            & .owl-nav{
                position: absolute;
                top: 50%;
                #{$end-dir}: 0;
                transform: translateY(-50%);
                width: 100%;
                height: 0;
                display: flex;
                justify-content: space-between;
                margin-top: 0;

                & button{
                    background-color: rgba($color-black, .7);
                    width: 5.5rem;
                    height: 5.5rem;
                    border-radius: 0;
                    margin: 0;
                    transition: .5s;

                    &:hover{
                        background-color: $prim-color;

                        & svg path{
                            fill: $color-white;
                        }
                    }

                    & svg{
                        width: 1.3rem;
                        height: 1.3rem;

                        & path{
                            fill: #ffffff66;
                            transition: .5s;
                        }
                    }
                }
            }

            & .item{
                position: relative;

                &.video{
                    .icon{
                        display: block;
                    }
                }

                & img{

                    @include respond(480){
                        height: 35rem;
                    }
                }
                
                & .icon{
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    display: none;

                    & .play{
                        width: 8rem;
                        height: 8rem;
                        background-color: $color-white;
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        & .shape{
                            width: 0;
                            height: 0;
                            border-top: 15px solid transparent;
                            border-left: 25px solid #e90707;
                            border-bottom: 15px solid transparent;
                            margin-right: -5px;                           
                        }

                        &:after{
                            content: "";
                            position: absolute;
                            top: 0;
                            #{$end-dir}: 0;
                            width: 100%;
                            height: 100%;
                            border: 15px solid $color-white;
                            border-radius: 100%;
                            animation: pulse 4s linear infinite 2s;
                        }
                        &:before{
                            content: "";
                            position: absolute;
                            top: 0;
                            #{$end-dir}: 0;
                            width: 100%;
                            height: 100%;
                            border: 15px solid $color-white;
                            border-radius: 100%;
                            animation: pulse 4s linear infinite;
                        }
                    }
                }
            }
        }
    }    
}

// End Header


// Start Overview

.overview{

    .content{
        display: flex;
        align-items: center;

        & > div{
            flex-basis: 50%;
        }
    }

    .col-lg-6:first-child{
        justify-content: center;
        display: flex;
        flex-direction: column;

        @include Sm{
            text-align: center;

            p {
                margin-top: 6rem;
            }
        }
    }

    & .col-lg-6:last-child{

        @include Sm{
            display: none;
        }

        & a{
            display: none;
        }
    }

    & .px-0{
        @include Sm{
            display: none;
            img{
                display: none;
            }
        }
    }


    @include Sm{

        & .col-lg-6:last-child{

            & a{
                display: block;
                margin-top: 4rem;
            }
        }
    }

    @include Sm{
        & *{
            text-align: center;
            margin: auto;
        }
    }

    & h2{
        font-size: 24px;
        font-family: "bhjExBold";
        color: $prim-color;
        margin-bottom: 3rem;

        & + .shape{
            @include Md{
                display: none;
            }

            @include Xs{
                display: block;
            }
        }
    }

    & p{
        font-size: 16px;
        font-family: "bhjLight";
        color: rgb(39, 39, 39);
        line-height: 1.75;
        margin-bottom: 3rem;
    }

    & a{
        width: fit-content;
        width: -moz-fit-content;
        width: -webkit-fit-content;
        font-size: 14px;
        font-family: "bhjLight";
        color: rgb(150, 150, 150);
        line-height: 2;
        background-color: transparent;
        border: 0;
        position: relative;
        text-decoration: none;
        transition: .5s;

        &:after{
            content: "";
            position: absolute;
            bottom: 2px;
            #{$start-dir}: 50%;
            transform: translateX(-50% * $transform-dir);
            width: 100%;
            height: 1px;
            background-color: rgb(150, 150, 150);
        }

        &:hover{
            color: rgb(39, 39, 39);
        }
    }

    & .shape{
        position: relative;

        @include Xs{
            display: block;
        }

        &:after{
            content: "";
            position: absolute;
            top: 6rem;
            right: 3rem;
            width: 100%;
            height: 91%;
            border: 1rem solid #f2f2f2;
            z-index: -1;

            // @include Sm{
            //     top: 7rem;
            // }

            // @include Xs{
            //     top: 6rem;
            // }

            @include respond(375){
                top: 5rem;
            }
        }

        img{
            width: 100%;
        }
    }
}

// End Overveiw

// Start Activity

.activity{
    background-image: linear-gradient(rgba($sec-color, .8) 100%, rgba($sec-color, .8) 100%), url("../images/activity.jpg");
    background-size: cover;
    background-attachment: fixed;

    & .row{

        & .owl-carousel{
            position: relative;
            
            & .item{
                text-align: center;

                a {
                    text-decoration: none;
                }

                &:hover{
                    p.title{
                        color: $prim-color;
                        text-decoration: none;
                    }
                }
    
                & img{
                    display: block;
                    margin: auto;
                    width: 24rem;
                    height: 24rem;
                    margin-bottom: 2.5rem;
                }
    
                & p.title{
                    
                    font-size: 20px;
                    font-family: "bhjBold";
                    color: rgb(255, 255, 255);
                    line-height: 1.3;
                    transition: .5s;
                }
    
                & p.details{
                    font-size: 16px;
                    font-family: "bhjLight";
                    color: rgb(189, 193, 244);
                    line-height: 1.5;
                }
            }
    
            & .owl-nav{
                

                @include Md{
                    position: absolute;
                    top: 50%;
                    transform: translate(0%, -100%);
                    #{$end-dir}: 0;
                    width: 100%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0;
                    height: 0;
                }

                @include Lg{
                    position: absolute;
                    top: 50%;
                    transform: translate($transform-dir * 4%, $transform-dir * 100%);
                    #{$end-dir}: 0;
                    width: 109%;
                    display: flex;
                    justify-content: space-between;
                    margin-top: 0;
                    z-index: -1;
                }

                @include Sm{
                    display: none;
                }

                & button{
                    width: 2rem;
                    height: 2rem;

                    &:hover{
                        background-color: transparent;

                        & svg path{
                            fill: $color-white;
                        }
                    }

                    & svg{
                        width: 100%;
                        height: 100%;

                        & path{
                            fill: #bcbcbc;
                            transition: .5s;
                        }
                    }
                }
            }

            & .owl-dots{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 3rem;

                @include respond(48em){
                    margin-top: 8rem;
                }

                button{

                    &.active{
                        span{
                            background-color: $prim-color;
                        }
                    }

                    &:hover{
                        span{
                            background-color: rgba($prim-color, .5)
                        }
                    }
                }
            }
        }
    }
}

// End Activity

// Start Importers

.importers{
    background-color: #f7f7f7;
    position: relative;
    overflow: hidden;

    & > img{
        position: absolute;
        bottom: 0;
        #{$end-dir}: -11%;
    }

    & h2{
        font-size: 24px;
        font-family: "bhjExBold";
        color: $sec-color;
        line-height: 1.083;
    }

    & .row{

        & .owl-carousel{
            position: relative;

            .owl-item img{
                width: initial;
                margin: auto;
            }

            & .owl-nav{
                position: absolute;
                top: 50%;
                #{$end-dir}: 0;
                display: flex;
                justify-content: space-between;
                margin-top: 0;
                z-index: -1;

                @include Md{
                    // transform: translate($transform-dir * 0%, -50%);
                    // width: 100%;
                    // z-index: 9;
                    // height: 0;

                    transform: translate($transform-dir * 3%, -50%);
                    width: 106%;
                    z-index: 9;
                    height: 0;
                }

                @include Lg{
                    transform: translate($transform-dir * 4%, $transform-dir * 50%);
                    width: 109%;
                }

                @include Sm{
                    display: none;
                }

                & button{
                    width: 2rem;
                    height: 2rem;
                    transform: translateY(-50%);

                    &:hover{
                        background-color: transparent;

                        & svg path{
                            fill: $prim-color;
                        }
                    }

                    & svg{
                        width: 100%;
                        height: 100%;

                        & path{
                            fill: #bcbcbc;
                            transition: .5s;
                        }
                    }
                }
            }

            .owl-dots{

                @include Md{
                    display: none;
                }

                @include Sm{
                    display: block;
                    margin-top: 50px;
                }

                button{

                    &.active{
                        span{
                            background-color: $prim-color;
                        }
                    }

                    &:hover{
                        span{
                            background-color: rgba($prim-color, .5)
                        }
                    }
                }
            }
        }
    }
}

// End Of Importers

// Start Clients

.clients{

    & h2{
        font-size: 24px;
        font-family: "bhjExBold";
        color: $sec-color;
        line-height: 1.083;
        margin-bottom: 53px;
    }

    & .row{

        &.owl-carousel{
            margin-#{$start-dir}: 0;

            .owl-stage-outer{
                width: unset;
                height: unset;
            }

            .owl-stage{
                display: flex;
                align-items: center;

                .owl-item{
                    display: flex;
                    align-items: center;
    
                    & > div{
                        width: unset;
                        height: unset;
                        display: unset;
                        margin: auto;
    
                        img{
                            width: unset;
                            margin: auto;
                        }
                    }
                }
            }

            .owl-dots{
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 3rem;
                position: relative;

                button{

                    &.active{
                        span{
                            background-color: $prim-color;
                        }
                    }

                    &:hover{
                        span{
                            background-color: rgba($prim-color, .5)
                        }
                    }
                }

                span{
                    width: 10px;
                    height: 10px;
                    display: block;
                    margin: 5px;
                    background-color: rgba($color-black, .2);
                    border-radius: 5px;
                }
            }
        }

        @include Md{
            & > div{
                width: 225px;
                height: 225px;
                text-align: center;
                margin: auto;
                display: flex;
                align-items: center;
                justify-content: center;
    
                & img{
                    max-width: 100%;
                }
            }
    
            &.top-el{
                margin-bottom: 10rem;
            }   
        }
    }
}

// End Of Clients

// Start Footer

footer{
    background-color: #f7f7f7;
    overflow: hidden;
    position: relative;

    .row{

        & img.patt{
            position: absolute;
            bottom: 0;
            #{$end-dir}: 40%;
            z-index: 10;
        }
    }


    .col-md-62{

        @include Xs{
            order: -1
        }
    }

    & .right{
        padding: 10rem 0;
        position: relative;
        overflow: hidden;
        z-index: 9999;

        @include respond(48em){
            padding: 40rem 0 3rem 0;
            text-align: center;
            width: 100%;
            flex-basis: 100%;
        }

        @include Sm{
            padding: 10rem 0 3rem;
        }

        @include Xs{
            padding: 45rem 0 3rem 0;
        }

        & .logo{
            margin-bottom: 5rem;
        }

        & .contact-info{

            & ul{
                margin-bottom: 3rem;

                & li{

                    &:not(:last-child){
                        margin-bottom: 13px;
                    }
                    
                    a{
                        font-size: 14px;
                        color: $sec-color;
                        line-height: 1.714;

                        & svg{
                            margin-#{$end-dir}: 1.5rem;
                            width: 18px;
                            height: 18px;

                            & path{
                                fill: $prim-color;
                            }
                        }

                        &:hover{
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        & .social-icons{
            display: flex;
            justify-content: flex-start;
            margin-bottom: 4rem;

            @include respond(48em){
                justify-content: center;
            }

            & a{
                width: 32px;
                height: 32px;
                display: flex;
                justify-content: center;
                align-items: center;
                background-color: $sec-color;
                margin: .5rem;
                color: $color-white;
                border-radius: 50%;
                transition: .5s;


                &:hover{
                    background-color: $prim-color;
                }
            }
        }

        & .copyright{
            display: flex;
            align-items: center;
            justify-content: flex-start;

            @include Sm{
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
            }

            @include Xs{
                align-items: center;
            }

            & p{
                margin-bottom: 0;
                font-size: 13px;
                color: $sec-color;
                line-height: 2.167;
            }

            & a{
                color: $sec-color;
                font-family: "bhjBold";

                &:hover{
                    text-decoration: none;
                }


                & img{
                    margin: 0 .5rem;
                }
            }
        }
    }

    & .map{
        height: 100%;
        width: 50%;
        z-index: 10;
        #{$end-dir}: 0;
        position: absolute;
        top: 0;
        bottom: 0;

        @include Xs{
            height: 300px;
            width: 100%;
        }

        #map{
            height: 100%;
            overflow: hidden;
    
            & img{
                height: 100%;
            }
        }
    }
}

// End Of Footer