@font-face {
    font-family: "bhjExBold";
    src: url("../../fonts/Bahij_TheSansArabic-ExtraBold.ttf") format("ttf"),
         url("../../fonts/BahijTheSansArabic-ExtraBold.woff") format("woff"),
         url("../../fonts/BahijTheSansArabic-ExtraBold.woff2") format("woff2"),
         url("../../fonts/BahijTheSansArabic-ExtraBold.eot") format("eot"),
}

@font-face {
    font-family: "bhjBold";
    src: url("../../fonts/Bahij_TheSansArabic-Bold.ttf") format("ttf"),
         url("../../fonts/BahijTheSansArabic-Bold.woff") format("woff"),
         url("../../fonts/BahijTheSansArabic-Bold.woff2") format("woff2"),
         url("../../fonts/BahijTheSansArabic-Bold.eot") format("eot"),
}

@font-face {
    font-family: "bhjMedium";
    src: url("../../fonts/Bahij_TheSansArabic-Plain.ttf") format("ttf"),
         url("../../fonts/BahijTheSansArabic-Plain.woff") format("woff"),
         url("../../fonts/BahijTheSansArabic-Plain.woff2") format("woff2"),
         url("../../fonts/BahijTheSansArabic-Plain.eot") format("eot"),
}

@font-face {
    font-family: "bhjLight";
    src: url("../../fonts/Bahij_TheSansArabic-Light.ttf") format("ttf"),
         url("../../fonts/BahijTheSansArabic-Light.woff") format("woff"),
         url("../../fonts/BahijTheSansArabic-Light.woff2") format("woff2"),
         url("../../fonts/BahijTheSansArabic-Light.eot") format("eot"),
}