link(rel="stylesheet", href="css/bootstrap4.min.css")
//- link(rel="stylesheet", href="css/bootstrap-rtl.min.css")
link(rel="stylesheet", href="css/fontawesome.min.css")
link(rel="stylesheet", href="css/jquery.fancybox.min.css")
link(rel="stylesheet", href="css/owl.carousel.min.css")
link(rel="stylesheet", href="css/owl.theme.default.min.css")
link(rel="stylesheet", href=style)