script(src="js/jquery.min.js")
script(src="js/bootstrap.bundle.min.js")
script(src="js/fontawesome-all.min.js")
script(src="js/jquery.fancybox.min.js")
script(src="js/owl.carousel.min.js")
script(src="js/main.js")